
.card-container {
    width: 15rem;
    border-radius: 1rem;
    margin: 3rem;
    box-shadow: 0px 10px 20px black;
    transition: 0.3s; /*d*/
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    
}

.card-image {
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 1rem 1rem 0 0;
}

.card-title, .card-description {
    margin: 0.5rem 5%;
}

.card-button {
    margin: 0.5rem 5%;
    width: 90%;
    align-self: center;
}